/* -------- ROOT THEME VARIABLES -------- */

:root {
    --bg-color: #000000;
    --text-color: #ffffff;
    --glass-bg: rgba(26, 26, 26, 0.35);
    --glass-border: rgba(255, 255, 255, 0.25);
}

.dark {
    --bg-color: #111;
    --text-color: #fff;
    --glass-bg: rgba(0, 0, 0, 0.35);
    --glass-border: rgba(0, 0, 0, 0.15);
}

/* -------- GLOBAL -------- */

body {
    margin: 0;
    padding-top: 70px;
    font-family: jetbrains mono; 
    background: var(--bg-color);
    color: var(--text-color);
    transition: background 0.3s, color 0.3s;
}

header {
    text-align: center;
    padding: 20px;
}

/* -------- NAVBAR -------- */

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    background: var(--glass-bg);
    backdrop-filter: blur(10px);
    border-bottom: 1px solid var(--glass-border);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    z-index: 100;
}

.logo {
    font-size: 1.4rem;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}

.nav-links li a {
    text-decoration: none;
    color: var(--text-color);
    font-weight: 500;
    transition: 0.3s;
}

.theme-btn {
    background: transparent;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
    margin-right: 40px;
}

.menu-toggle {
    display: none;
    font-size: 1.8rem;
    background: none;
    border: none;
    cursor: pointer;
}

/* -------- GRID + CARDS -------- */

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 20px;
    padding: 20px;
}


.card {
    position: relative;
    height: 200px;
    border-radius: 18px;
    overflow: hidden;
    text-decoration: none;

    background-image: var(--bg);
    background-size: cover;
    background-position: center;

    transition: transform 0.3s ease, filter 0.3s ease;
}

.card:hover {
    filter: blur(2px) brightness(0.75);
    transform: scale(1.05);
}

/* glass layer */
.glass {
    background: var(--glass-bg);
    backdrop-filter: blur(12px);
    border-top: 1px solid var(--glass-border);

    position: absolute;
    bottom: 0;
    padding: 14px;
    width: 100%;
    color: var(--text-color);
}

.info h3 {
    margin: 0 0 4px;
}

.info p {
    margin: 0;
    font-size: 0.9rem;
}

/* -------- RESPONSIVE NAVBAR -------- */

@media (max-width: 768px) {
    .menu-toggle {
        display: block;
    }

    .nav-links {
        position: absolute;
        top: 60px;
        right: 0;
        background: var(--glass-bg);
        backdrop-filter: blur(10px);
        flex-direction: column;
        width: 200px;
        padding: 20px;
        gap: 15px;
        border-left: 1px solid var(--glass-border);
        border-bottom: 1px solid var(--glass-border);
        display: none;
    }

    .nav-links.open {
        display: flex;
    }
}
